[log]
	showSignature = true
[init]
  defaultBranch = main

[commit]
  gpgsign = true


[user]
  useConfigOnly = true

[include]
  path = ~/.gitconfig.default

[includeIf "gitdir:~/Development/Personal/"]
  path = ~/.gitconfig.default

[includeIf "gitdir:~/Development/Work/"]
  path = ~/.gitconfig.work
